.button a {
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #EE4D47;
    border-radius: 5px;
    padding: 2vh 1rem;
    margin: 2vh 0 0 16%;
    white-space: nowrap;
}