.background{
    background-color: #0F264C;
    margin-right: 10%;
    border-top-right-radius: 100px;
}

.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16%;
    margin-right: 25%;
    padding-top: 5vh;
}

.button p {
    color: #fff;
    font-size: 1.25rem;
    border-left: 10px solid #ED4D47;
    border-radius: 8px;
    width: 46%;
    padding:  2vh 0 2vh 5%;
}

.background ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.background ul li {
    font-size: 1rem;
    text-transform: uppercase;
    padding-right: 4rem;
    white-space: nowrap;
}
.background nav{
    display: flex;
    padding-left: 16%;
    padding-right: 5%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding-top: 20vh;
    padding-bottom: 10vh;
}

.footer a{
    color: #fff;
}

.socialmedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16%;
    padding-right: 19%;
}

.socialmedia ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.socialmedia ul li{
    padding-left: 1.5rem;
}

.socialmedia p{
    color:#402B2B;
}
.auto {
    margin-bottom: -3.25vh;
}